.dropdownHolder {
    float: left;
    margin: 0;
    position: relative;
    width: 150px;
    height: 26px;
    font-family: Courier New;
    box-sizing: border-box;
    font-size: 16px;
}

.dropdownSelector {
    border: solid 1px #757575;
    border-radius: 3px;
    padding: 3px 5px;
    height: 16px;
    background: #eeeeee;
}

.dropdownSelector:hover {
    cursor: default;
}

.dropdownSelectorCustomIcon {
    width: 16px !important;
    height: 16px !important;
    color: black !important;
    margin-right: 8px;
    float: left;
}

.dropdownSelectorIcon {
    width: 16px !important;
    height: 16px !important;
    float: right;
    color: black !important;
}

.dropdownOptions {
    box-sizing: border-box;
    position: absolute;
    top: 24px;
    width: 150px;
    border: solid 1px #757575;
    border-radius: 3px;
    background: #eeeeee;
    display: none;
    z-index: 999999;
}

.dropdownOptions.open {
    display: block;
}

.dropdownOption {
    padding: 3px 5px;
}

.dropdownOption:hover {
    background: #e0e0e0;
    cursor: default;
}