.mineCol {
    box-sizing: border-box;
    position: relative;
    float: left;
    border: solid 1px black;
    font-family: monospace;
    border: solid 1px #424242;
    background: #bdbdbd;
}

.mineColNumber {
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
}

.mineCol.closed {
    border: groove 3px #9e9e9e;
    background: linear-gradient(215deg, #e0e0e0, #eeeeee);
}

.mineCol:hover {
    cursor: default;
}